* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1em 10%;
    background-image: url(../images/background.gif);
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 80em;
}

header {

    background-image: url(../images/guitarist.gif);
    background-repeat: no-repeat;
    background-position: right bottom;

    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
}

header nav {

    background-image: url(../images/navbar.gif);
    background-position: bottom left;
    background-repeat: repeat-x;
    border-width: 0 .1em 0 .1em;
    border-style: solid;

}

header nav ul {

    overflow: hidden;
    width: 100%;
    border-left-width: .1em;
}

header nav li {

    position: relative;
    list-style: none;
}

header nav li a {
    display: block;
    float: left;
    padding: .5em 2em;
    border-right: .1em solid;

}

article {
    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding: 2em 10%;
    line-height: 1.8em;
}

article img {
    border-width: .1em;
    border-style: solid;
    outline-width: .1em;
    outline-style: solid;
}

#about header {
    background-image: url(../images/lineup.gif);
}

#photos header {
    background-image: url(../images/basshead.gif);
}

#live header {
    background-image: url(../images/bassist.gif);
}

#contact header {
    background-image: url(../images/drummer.gif);
}

#slideshow {
    overflow: hidden;
    width: 150px;
    height: 150px;
    position: relative;
}

#preview {
    position: absolute;
    border-width: 0;
    outline-width: 0;
}

#frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#imagegallery li {

    display: inline-block;

}

td {
    padding: .5rem 3rem;
    width: 10em;
}

th {
    color: #edc;
    background-color: #455;
}

tr td {
    color: #223;
    background-color: #eb6;
}