body {

    font-size: 76%;
    font-family: "Helvetica", "Arial", sans-serif;

}

body * {
    font-size: 1em;
}

a {
    font-weight: bold;
    text-decoration: none;
}

header nav {
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
}

article {
    line-height: 1.8em;
}

article p {
    margin: 1em 0;
}

h1 {
    font-family: "Georgia", "Times New Roman", sans-serif;
    font: 2.4em normal;
}

h2 {
    font-family: "Georgia", "Times New Roman", sans-serif;
    font: 1.4em normal;
}

h3 {
    font-family: "Georgia", "Times New Roman", sans-serif;
    font: 1.4em normal;
}

#imagegallery li {
    list-style: none;
}

textarea {
    font-family: "Helvetica", "Arial", sans-serif;
}